<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triple Pines Golf Club</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css"/>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/"><strong>Triple Pines GC</strong></a></li>
            </ul>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="/choice">Courses</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>
</html>